In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('dataset/binus.csv')

In [3]:
# Menampilkan banyaknya data
data.shape

(100, 3)

In [4]:
# Menampilkan 3 data paling atas
data.head(3)

,tweeted_at,username,tweet
0,2020-04-12 05:25:29,ceyjii,@collegemenfess computer science binus si kere...
1,2020-04-12 05:22:08,despicabule,@FOOD_FESS Nasi padang new city alias kota bar...
2,2020-04-12 05:17:49,billanantii,@ranggabrni @collegemenfess Binus yg di Araya ...

In [5]:
# Menampilkan 3 data paling bawah
data.tail(3)

,tweeted_at,username,tweet
97,2020-04-11 11:59:50,flerovia,@ohmybeautybank Kantong mahasiswanya mana nih ...
98,2020-04-11 11:52:48,alhaqz,@collegemenfess binus - dkv
99,2020-04-11 11:52:36,egaaal2,"@collegemenfess Kl gadapet ptn, Binus,Bisnis d..."

In [6]:
# Menampilkan 5 data secara acak
data.sample(5)

,tweeted_at,username,tweet
86,2020-04-11 13:34:49,VionAlonso,@collegemenfess Binus Tel-U LSPR
81,2020-04-11 13:46:06,Jmurbeiy,@schoolmnfs keunggulannya di PTS abis lulus bi...
5,2020-04-12 04:57:25,medulaq,"Bro ini tiap hari cuman bukain gift, potion re..."
49,2020-04-11 16:15:14,FxxxkingRabits,@apayahgtw Ospek nya binus enak cuman keliling...
85,2020-04-11 13:35:20,belleetreussie,SIAPA PUNYA KENALAN ANAK BINUS JAKARTA?

In [7]:
# Menampilkan kolom yang ada
data.columns

Index(['tweeted_at', 'username', 'tweet'], dtype='object')

In [8]:
# import library Sastrawi yang berisi kata yang tidak penting atau dikenal dengan stopwords dalam bahasa Indonesia
from Sastrawi.StopWordRemover.StopWordRemoverFactory import StopWordRemoverFactory
 
factory = StopWordRemoverFactory()
stopwords = factory.get_stop_words()
print(stopwords)

['yang', 'untuk', 'pada', 'ke', 'para', 'namun', 'menurut', 'antara', 'dia', 'dua', 'ia', 'seperti', 'jika', 'jika', 'sehingga', 'kembali', 'dan', 'tidak', 'ini', 'karena', 'kepada', 'oleh', 'saat', 'harus', 'sementara', 'setelah', 'belum', 'kami', 'sekitar', 'bagi', 'serta', 'di', 'dari', 'telah', 'sebagai', 'masih', 'hal', 'ketika', 'adalah', 'itu', 'dalam', 'bisa', 'bahwa', 'atau', 'hanya', 'kita', 'dengan', 'akan', 'juga', 'ada', 'mereka', 'sudah', 'saya', 'terhadap', 'secara', 'agar', 'lain', 'anda', 'begitu', 'mengapa', 'kenapa', 'yaitu', 'yakni', 'daripada', 'itulah', 'lagi', 'maka', 'tentang', 'demi', 'dimana', 'kemana', 'pula', 'sambil', 'sebelum', 'sesudah', 'supaya', 'guna', 'kah', 'pun', 'sampai', 'sedangkan', 'selagi', 'sementara', 'tetapi', 'apakah', 'kecuali', 'sebab', 'selain', 'seolah', 'seraya', 'seterusnya', 'tanpa', 'agak', 'boleh', 'dapat', 'dsb', 'dst', 'dll', 'dahulu', 'dulunya', 'anu', 'demikian', 'tapi', 'ingin', 'juga', 'nggak', 'mari', 'nanti', 'melainkan', 'oh', 'ok', 'seharusnya', 'sebetulnya', 'setiap', 'setidaknya', 'sesuatu', 'pasti', 'saja', 'toh', 'ya', 'walau', 'tolong', 'tentu', 'amat', 'apalagi', 'bagaimanapun']

In [9]:
# Menyiapkan pattern untuk text preprocessing
import re
from bs4 import BeautifulSoup
from nltk.tokenize import WordPunctTokenizer

tok = WordPunctTokenizer()
pattern1 = r'@[A-Za-z0-9_]+' # Menghilangkan username twitter
pattern2 = r'https?://[^ ]+' # Menghilangkan situs website
combined_pattern = r'|'.join((pattern1, pattern2)) #join pattern1 dan pattern2
www_pattern = r'www.[^ ]+' # Menghilangkan situs website

In [10]:
# Fungsi untuk text cleaning
def clean_text(teks):
    soup = BeautifulSoup(teks, 'lxml')
    souped = soup.get_text()
    try:
        teks = souped.decode("utf-8-sig").replace(u"\ufffd", "?")
    except:
        teks = souped
    teks_bersih= re.sub("[^a-zA-Z0-9]", " ",(re.sub(www_pattern, '', re.sub(combined_pattern, '', teks)).lower()))
    teks_bersih= ' '.join([word for word in teks_bersih.split() if word not in stopwords])
    return (" ".join([x for x in tok.tokenize(teks_bersih) if len(x) > 1])).strip()

In [11]:
# Testing fungsi clean_teks
teks='''hahaha apakah SAYA ingin pergi pada tanggal 15 bulan februari besok ? tidak karena hari kemarin @twitter suka main https://www.twitter.com'''
clean_text(teks)

'hahaha pergi tanggal 15 bulan februari besok hari kemarin suka main'

In [12]:
clean_tweet=[]

# Cleaning text dari tweet
for tweet in data.tweet:
    clean_tweet.append(clean_text(tweet))

# Membuat kolom baru clean_tweet
clean = pd.DataFrame({'clean_tweet':clean_tweet})
data = pd.concat([data,clean],axis=1)

In [13]:
# Menghapus baris yang datanya kosong
import numpy as np

data['clean_tweet'].replace('', np.nan, inplace=True)
data.dropna(subset=['clean_tweet'], inplace=True)

In [14]:
data.head(5)

,tweeted_at,username,tweet,clean_tweet
0,2020-04-12 05:25:29,ceyjii,@collegemenfess computer science binus si kere...,computer science binus si keren
1,2020-04-12 05:22:08,despicabule,@FOOD_FESS Nasi padang new city alias kota bar...,nasi padang new city alias kota baru binus
2,2020-04-12 05:17:49,billanantii,@ranggabrni @collegemenfess Binus yg di Araya ...,binus yg araya malang
3,2020-04-12 05:15:39,sambelbawangg,big binus malang energy https://t.co/kZ5PRDx66x,big binus malang energy
4,2020-04-12 05:09:03,hyunbinshoe,@KPOPDRAMAID Binus nya korea,binus nya korea

In [15]:
# Membuat csv dari data
data.to_csv('dataset/clean_binus.csv', index=False, header=True)